@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --font-outfit: "Outfit", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;
} */

html {
  @apply bg-white text-neutral-950 selection:bg-primary selection:text-white;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
